.competences {
  width: 100vw;
  height: 100px;
  max-height: 20vh;
  margin: auto;
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 50px;
  .competences-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;

    .banner {
      display: flex;
      animation: scrollBanner 30s linear infinite;
      justify-content: flex-start;
      height: 100%;
      gap: 50px;

      .competence {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70%;
        gap: 20px;
        color: rgba(0, 0, 0, 0.75);

        img {
          height: 80%;
          object-fit: cover;
          margin: auto;
        }
        .nameandlevel {
          text-shadow: 0px 0px 2px rgb(255, 255, 255);
          color: rgba(0, 0, 0, 0.75);
          font-size: 15px;
          font-weight: 700;
        }
      }
    }
  }
}

@keyframes scrollBanner {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
