.parcours {
  width: 80vw;
  margin: auto;
  color: rgba(0, 0, 0, 0.75);
  padding: 10px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(109, 109, 109, 0.3),
      0 0 40px rgba(255, 255, 255, 0.5);
  }
  h2 {
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 1px 3px rgb(185, 184, 184);
    margin: 0 0 20px 0;
  }
  .parcours-ul {
    margin: auto;
    font-size: 1.5em;
    font-weight: 500;
    li {
      list-style: none;
    }

    @media (min-width: 768px) and (max-width: 1200px) {
      font-size: 1.2em;
    }

    @media (max-width: 768px) {
      font-size: 1em;
    }

    .parcours-item {
      margin-bottom: 20px;
    }
  }
}
