article .down .description {
  background-color: #ffffff;
  border-radius: 15px;
  color: var(--backgroundColor);
  width: 75%;
  transition: max-height 0.5s ease, padding 0.4s ease;
  overflow: hidden;
  max-height: 0;
  margin-bottom: 50px;
}
article .down .description.open {
  padding: 10px;
  margin-bottom: 10px;
  max-height: 500px;
  min-height: 50px;
  overflow-y: auto;
  p {
    margin: 0;

    @media (min-width: 768px) and (max-width: 1200px) {
      font-size: 12px;
    }

    @media (max-width: 768px) {
      font-size: 10px;
    }
  }
}
